<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838420907972-ja4sa6eeligg65lebhph5uut2p628s5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838420907972-ja4sa6eeligg65lebhph5uut2p628s5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBPKMc1sdsO5hYjVcTyHeriujZCIEYlI20</string>
	<key>GCM_SENDER_ID</key>
	<string>838420907972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cardstack.com.rainbow</string>
	<key>PROJECT_ID</key>
	<string>card-pay-3e9be</string>
	<key>STORAGE_BUCKET</key>
	<string>card-pay-3e9be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838420907972:ios:8a130f626d5f0d17f64691</string>
	<key>DATABASE_URL</key>
	<string>https://card-pay-3e9be.firebaseio.com</string>
</dict>
</plist>