<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Card Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cardstack.cardpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cardwallet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://pay.cardstack.com/request</string>
		<string>https://cardpay.page.link/request</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
		<string>itms-apps</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan QR codes</string>
	<key>NSContactsUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to sign transactions and access wallet keys</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSMotionUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Card Wallet</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.me.rainbow</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>me.rainbow</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFMono-Medium.otf</string>
		<string>SFMono-Regular.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
		<string>SF-Pro-Rounded-Heavy.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
		<string>SF-Pro-Rounded-Semibold.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-BoldItalic.ttf</string>
		<string>RobotoMono-ExtraLight.ttf</string>
		<string>RobotoMono-ExtraLightItalic.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-LightItalic.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-MediumItalic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>RobotoMono-SemiBoldItalic.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>RobotoMono-ThinItalic.ttf</string>
		<string>Karbon-Bold 2.otf</string>
		<string>Karbon-Bold 3.otf</string>
		<string>Karbon-Bold 4.otf</string>
		<string>Karbon-Bold.otf</string>
		<string>Karbon-BoldItalic.otf</string>
		<string>Karbon-Hairline.otf</string>
		<string>Karbon-HairlineItalic.otf</string>
		<string>Karbon-Light 2.otf</string>
		<string>Karbon-Light.otf</string>
		<string>Karbon-LightItalic.otf</string>
		<string>Karbon-Medium 2.otf</string>
		<string>Karbon-Medium.otf</string>
		<string>Karbon-MediumItalic.otf</string>
		<string>Karbon-Regular 2.otf</string>
		<string>Karbon-Regular 3.otf</string>
		<string>Karbon-Regular 4.otf</string>
		<string>Karbon-Regular 5.otf</string>
		<string>Karbon-Regular.otf</string>
		<string>Karbon-RegularItalic.otf</string>
		<string>Karbon-Semibold 2.otf</string>
		<string>Karbon-Semibold.otf</string>
		<string>Karbon-SemiboldItalic.otf</string>
		<string>Karbon-Thin.otf</string>
		<string>Karbon-ThinItalic.otf</string>
		<string>KarbonSlabStencil-Bold.otf</string>
		<string>KarbonSlabStencil-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
