name: Tag
on:
  workflow_dispatch:
    inputs:
      versionChangeType:
        description: 'Type of version bump (major, minor, patch, none)'
        required: true
        default: 'none'

jobs:
  create-new-tag:
    name: Create new tag with version bump
    runs-on: macos-latest
    env:
      GITHUB_AUTH_TOKEN: ${{ secrets.CI_GITHUB_PERSONAL_ACCESS_TOKEN }}
      BASE_BRANCH: 'develop'
    steps:
      - name: Set environment variables
        env:
          DEFAULT_VERSION_CHANGE_TYPE: none
          VERSION_CHANGE_BRANCH_TO_TAG: 'release/${{ github.event.inputs.versionChangeType }}-version-${{ github.run_id }}'
        run: |
          echo "VERSION_CHANGE_TYPE=${{ github.event.inputs.versionChangeType || env.DEFAULT_VERSION_CHANGE_TYPE}}" >> $GITHUB_ENV

          if [$VERSION_CHANGE_TYPE != 'none']
          then
            echo "BRANCH_TO_TAG=${{ env.VERSION_CHANGE_BRANCH_TO_TAG }}" >> $GITHUB_ENV
            echo "VERSION_BUMP=true"
          else
            echo "BRANCH_TO_TAG=develop" >> $GITHUB_ENV
            echo "VERSION_BUMP=false"
          fi
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.BASE_BRANCH }}
      - name: Bump iOS version
        if: ${{ env.VERSION_BUMP == 'true'}}
        run: cd ios && bundle install && bundle exec fastlane version_bump
      - name: Create Pull Request
        if: ${{ env.VERSION_BUMP == 'true'}}
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.CI_GITHUB_PERSONAL_ACCESS_TOKEN }}
          branch: '${{ env.BRANCH_TO_TAG }}'
          title: 'release: ${{ github.event.inputs.versionChangeType }} version release'
          commit-message: 'release: ${{ github.event.inputs.versionChangeType }} version release'
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          labels: |
            release
            automated pr
          delete-branch: true
      - name: Create tag
        run: cd ci-scripts && yarn && yarn createTag
